[defaults]
remote_user = vagrant
inventory = inventory/hosts.ini
host_key_checking = false
log_path = ./execution.log 
roles_path = /home/mokomg/Documents/Projects/HA-Django-PostgreSQL-stack-Ansible/roles
collections_path = /home/mokom/Documents/Projects/HA-Django-PostgreSQL-stack-Ansible/collections

[privilege_escalation]
become = true
become_user = root
become_method = sudo

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=accept-new -o UserKnownHostsFile=.known_hosts