#######     Gunicorn systemd unit   #####################

[Unit]
Description=Gunicorn daemon for Django HA Demo (myproject)
After=network.target

[Service]
User={{ django_user }}
Group={{ django_group }}
WorkingDirectory={{ django_app_base_dir }}
EnvironmentFile={{ django_app_base_dir }}/.env
Environment=PATH={{ django_app_venv_dir }}/bin

# Bind only to localhost – Nginx is the public-facing process
ExecStart={{ django_app_venv_dir }}/bin/gunicorn \
          --workers {{ gunicorn_workers }} \
          --bind 127.0.0.1:{{ django_app_port | default(8000) }} \
          --access-logfile {{ django_app_base_dir }}/logs/gunicorn-access.log \
          --error-logfile  {{ django_app_base_dir }}/logs/gunicorn-error.log \
          {{ django_project_module }}.wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed

Restart=on-failure  
RestartSec=3

# Hardening options recommended on RHEL/Rocky
PrivateTmp=true
ReadWritePaths={{django_home}}


[Install]
WantedBy=multi-user.target
